/*** Start Font Face ***/
@font-face {
    font-family: 'Hotel-hunter-font';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
    url('../fonts/OpenSansRegular.woff') format('woff'),
    url('../fonts/OpenSansRegular.ttf') format('truetype'),
    url('../fonts/OpenSansRegular.svg') format('svg');

}
@font-face {
    font-family: 'Hotel-hunter-logo-font';
    src: url('../fonts/ROBOTECHGP.eot');
    src: url('../fonts/ROBOTECHGP.eot') format('embedded-opentype'),
    url('../fonts/ROBOTECHGP.woff') format('woff'),
    url('../fonts/ROBOTECHGP.ttf') format('truetype'),
    url('../fonts/ROBOTECHGP.svg') format('svg');

}
/*** End Font Face ***/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: Hotel-hunter-font;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.section
{
    float: left;
    width: 100%;
}
.serch-section
{
    background-image: url('../img/background.jpg');
    background-size: 100%;
}

.header
{
    background-color: #00355f;
        padding: 15px 0px;
}
.logo
{
    font-size: 44px;
    line-height: 0.4em;
    margin: 0px;
    padding: 0px;
    font-family: 'Hotel-hunter-logo-font';
    color: white;
}
.logo span
{
    font-family: 'Hotel-hunter-logo-font';
}
.logo .yellow
{
    
        color: #f3d914;
}
.list
{
    float: right;

}
.list-item
{
    color: white;
    display: block;
    float: left;
    list-style: none;
    padding: 5px;
}
.item
{
    margin: 14px 0px;
    border: 1px solid #e8e8e8;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 5px 0px #d8d8d8;
    padding: 15px;
    box-sizing: border-box;
}
.item-img
{
    width:70px;
    display: inline-block;
    float: left;

}
img
{
    max-width: 100%;
    width: auto;
}
.item-description
{
    display: inline-block;
    padding-left: 20px;
}
.item-description h2
{
    border-bottom: 1px solid #dcb20a;
    display: block;
    font-weight: bold;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 5px;
    color: #00355f;

}
.item-description span
{
    display: block;
    padding: 2px 0px;
    font-size: 12px;
    padding-bottom:5px; 
    font-family: 'Hotel-hunter-font';
    font-weight: normal;
    color:#00355f;
}
.item-description span:before
{
    padding-right: 9px;
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
}
.test
{
    min-height: 400px;

}
.custom.form-row
{
    background-color:rgba(0, 53, 95, 0.3);
    padding: 10px;
}
.form-row > [class*=col-]
{
    margin: 5px 0px;
}
.col-md-6:nth-child(even) .item {
    margin-left: 0px;
}
footer
{
    background-color: #00355f;
    color: white;
    text-align: center;
    padding: 12px 0px;
    clear: both;
    display: block;
    font-size: 13px;
}
.serch-section .btn-primary
{
    background-color: #f3d914;
    border: 0px;
    color: #00355f;
}
.advance-search
{
    color:white;
    float: right;
    padding: 5px 0px;
    border-bottom: 1px solid white;
    cursor: pointer;
}
[class*=btn-]:hover
{
background-color: #ffe30b;
}
[class*=btn-].focus, [class*=btn-]:focus,
[class*=btn-]:not(:disabled):not(.disabled).active:focus, 
[class*=btn-]:not(:disabled):not(.disabled):active:focus,
 .show>[class*=btn-].dropdown-toggle:focus {
    box-shadow: none;
}
[class*=btn-]:not(:disabled):not(.disabled).active, [class*=btn-]:not(:disabled):not(.disabled):active, .show>[class*=btn-].dropdown-toggle {
    color: #fff;
    background-color: #f5d90d;
    border: none;
}
.hidden-control{
    display: none;
    margin: 0;
}
.list .list-item i{
    padding-right: 5px;
}